.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.topBar {
  display: flex;
  align-items: center;
}

.menu {
  width: 280px;
  height: 100%;
  background-color: #c5d3ff;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 46px;
  right: 46px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.closeBtn img {
  width: 12px;
  height: 12px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu a {
  font-size: 18px;
  font-weight: 600;
  color: #15004c;
  text-decoration: none;
}

.supportBtn {
  background-color: #ffd600;
  color: #15004c;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-left: 35px;
}

.list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.78571;
  letter-spacing: 0.02em;
  color: #090e0f;
}

.bigButton {
  margin: 0 auto;
}

.list button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit; /* успадковує шрифт */
  color: #0f0f0f; /* як у навігації */
  text-align: left;
  cursor: pointer;
  line-height: 1.8;
  letter-spacing: -0.02em;
  display: block;
  width: 100%;
}
.list button:hover {
  opacity: 0.8;
}
