.hero {
  /* width: 100%; */
  background-color: #15004c;
  padding: 24px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  max-width: 343px;
  /* min-width: 343px; */
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* Фото */
.heroImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

/* Текст */
.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
  text-align: left;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f9dd5a;
  margin-bottom: 24px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #f9dd5a;
}

/* Кнопки */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f !important;
}

.primaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 100px;
  padding: 24px;
  /* width: 343px; */
  height: 56px;
  background-color: #bff4ff;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.secondaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 100px;
  padding: 24px;
  /* width: 343px; */
  height: 56px;
  background-color: #f9dd5a;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
  width: 100%;
}

/* 📲 Планшет (786–834px) */
@media (min-width: 786px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 24px;
    min-width: 738px;
    width: 100%;
    gap: 38px;
  }

  .content {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .heroImage {
    flex: 1; /* ← однакова ширина */
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .text {
    flex: 1; /* ← однакова ширина */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }
  .title {
    font-weight: 900;
    font-size: 46px;
    color: #f9dd5a;
    margin: 0;
  }

  .subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #f9dd5a;
  }

  .buttons {
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start; /* ← прибиває кнопки вліво */
  }

  .primaryBtn {
    border-radius: 58px;
    padding: 20px 24px;
    width: 100%;
    max-width: 251px;
    height: 46px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  .secondaryBtn {
    border-radius: 58px;
    padding: 20px 24px;
    width: 100%;
    max-width: 251px;
    height: 46px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
}
