.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  border: none;
  border-bottom: 1px solid #769399;
  background-color: transparent;
  outline: none;
}

.input:focus {
  border: none;
  border-bottom: #1976d2 2px solid;
  outline: none;
}

.input:hover {
  border: none;
  border-bottom: #1976d2 2px solid;
  outline: none;
}

.errorInput {
  border: 1px solid #ff0404;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  z-index: 20;
}

.suggestions li {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
}

.suggestions li:hover {
  background: #f0f0f0;
}
