.supportBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  padding: 24px;
  width: 144px;
  height: 36px;
  background: #f9dd5a;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
}

.supportBtn:hover {
  background: #ffca28;
}

@media (min-width: 768px) and (max-width: 834px) {
  .supportBtn {
    font-size: 14px;
    line-height: 1.5;
    border-radius: 93px;
    padding: 10px 14px;
    width: 134px;
    height: 46px;
  }
}
