.MissionSection {
  font-family: "Montserrat", sans-serif;
  background-color: #beceff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media (min-width: 786px) {
    max-width: 738px;
    padding: 0 24px;
    gap: 24px;
  }
  @media (min-width: 1296px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 48px;
    row-gap: 32px;
    max-width: 1296px;
    padding: 0 72px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
  @media (min-width: 786px) {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }

  @media (min-width: 1296px) {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 64px;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  @media (min-width: 1296px) {
    grid-column: 2 / 3;
    grid-row: 2;
    max-width: 600px;
  }
}

.list {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  padding-left: 20px;
  @media (min-width: 786px) {
    padding-left: 30px;
  }
  @media (min-width: 1296px) {
    grid-column: 2 / 3;
    grid-row: 3;
    max-width: 600px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 15px;
  align-items: center;
  justify-content: center;
  @media (min-width: 786px) {
    gap: 8px;
    flex-wrap: nowrap;
  }

  @media (min-width: 1296px) {
    grid-column: 1 / 2;
    grid-row: 2 / 4; /* займає дві висоти: під текстом і списком */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 26px;
  }
}

.photo {
  border-radius: 7px;
  object-fit: cover; /* щоб картинка не спотворювалась */
  width: 100%;

  @media (min-width: 786px) {
    width: 165px;
    height: 314px;
  }
  @media (min-width: 1296px) {
    width: 136px;
    height: 370px;
    object-fit: cover;
    flex-shrink: 0;
  }
}
