.MissionSection {
  font-family: "Montserrat", sans-serif;
  background-color: #beceff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 786px) {
    min-width: 738px;
    padding: 0 24px;
    gap: 24px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
  @media (min-width: 786px) {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
}

.list {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  padding-left: 20px;
  @media (min-width: 786px) {
    padding-left: 30px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 15px;
  align-items: center;
  justify-content: center;
  @media (min-width: 786px) {
    gap: 26px;
    flex-wrap: nowrap;
  }
}

.photo {
  border-radius: 7px;
  object-fit: cover; /* щоб картинка не спотворювалась */
  width: 100%;

  @media (min-width: 786px) {
    width: 165px;
    height: 314px;
  }
}
