/* Фон модалки */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15); /* напівпрозорий білий */
  backdrop-filter: blur(12px); /* розмиття фону */
  -webkit-backdrop-filter: blur(12px); /* підтримка Safari */
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Контейнер */
.modal {
  background-color: #200b56;
  padding: 16px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #bff4ff;
  border-radius: 32px;
  padding: 24px;
  max-width: 600px;
  height: 286px;
}

/* Кнопка закриття */
.close {
  position: absolute;
  top: 6px;
  right: 6px;
  background: none;
  border: none;
  font-size: 24px;
  color: #b3e208;
  cursor: pointer;
}

/* Заголовок */
.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #15004c;
}

/* Опис */
.description {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #090e0f;
}

/* Повідомлення про успіх */
.successMessage {
  background: #e0f7e9;
  color: #2e7d32;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #b2dfdb;
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Лейбли */
.label {
  background-color: #bff4ff;
  border-radius: 32px;
  padding: 24px;
  max-width: 600px;
  height: 126px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #090e0f;
}

/* Інпути */
.input {
  max-width: 552px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  border: none;
  border-bottom: 1px solid #769399;
  background-color: transparent;
  outline: none;
}

.input:focus {
  border: none;
  border-bottom: #1976d2 2px solid;
  outline: none;
}

.input:hover {
  border: none;
  border-bottom: #1976d2 2px solid;
  outline: none;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #769399;
  font-family: "Roboto Condensed", sans-serif;
}

/* Текстова область */
.textarea {
  max-width: 552px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  border: none;
  border-bottom: 1px solid #769399;
  background-color: transparent;
  outline: none;
  width: 90%;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #769399;
  font-family: "Roboto Condensed", sans-serif;
}

.textarea:focus {
  border-color: #1976d2;
}

/* Помилка */
.errorInput {
  border-color: #e53935;
  background: #ffeaea;
}

/* Кнопки */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 12px;
}

/* Надіслати */
.submit {
  background-color: #f9dd5a;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 100px;
  padding: 20px 24px;
  width: 288px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.submit:hover {
  background-color: #f9dd5a;
}

/* Очистити */
.clear {
  background-color: transparent;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 100px;
  padding: 20px 24px;
  width: 288px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background-color: #f9dd5a;
}

.clear:hover {
  background-color: #f9dd5a;
}

/* Адаптивність */
@media (max-width: 480px) {
  .modal {
    padding: 24px;
  }

  .buttons {
    flex-direction: column;
  }

  .submit,
  .clear {
    width: 100%;
  }
}
