.ValuesSection {
  background-color: #c4d3ff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  font-family: "Montserrat", sans-serif;
  @media (min-width: 786px) {
    min-width: 738px;
    padding: 0 24px;
  }
}

.photo {
  display: block;
  border-radius: 16px;
  width: 342px;
  height: 454px;
  @media (min-width: 786px) {
    width: 355px;
    height: 392px;
    object-fit: cover;
  }
}

.hideOnTablet {
  @media (min-width: 786px) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  @media (min-width: 786px) {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
  @media (min-width: 786px) {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  @media (min-width: 786px) {
    /* margin-top: -150px; підняти текст вгору */
  }
}
