.PartnersButtons {
  background-color: #c4d3ff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
}

@media (min-width: 786px) {
  .container {
    min-width: 738px;
    padding: 0 24px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

@media (min-width: 786px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #15004c;
}

@media (min-width: 786px) {
  .heading {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

.becomePartner {
  border-radius: 100px;
  padding: 24px;
  /* width: 343px; */
  height: 56px;
  background-color: #15004c;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #a0a6c3;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  width: 100%;
}

@media (min-width: 786px) {
  .becomePartner {
    font-size: 16px;
    line-height: 1.5;
    color: #e5f9ff;
    border-radius: 58px;
    padding: 20px 24px;
    height: 46px;
  }
}

.allPartners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 100px;
  padding: 24px;
  /* width: 343px; */
  height: 56px;
  background-color: #f9dd5a;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

@media (min-width: 786px) {
  .allPartners {
    font-size: 16px;
    line-height: 1.5;
    border-radius: 58px;
    padding: 20px 24px;
    height: 46px;
  }
}
