.PartnersButtons {
  background-color: #c4d3ff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #15004c;
}

.becomePartner {
  border-radius: 100px;
  padding: 24px;
  width: 343px;
  height: 56px;
  background-color: #15004c;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #a0a6c3;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.allPartners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 100px;
  padding: 24px;
  width: 343px;
  height: 56px;
  background-color: #f9dd5a;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
  font-family: "Montserrat", sans-serif;
}
