.header {
  width: 100%;
  /* border-bottom: 1px solid #e0e0e0; */
  background-color: #c5d3ff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 343px;
}

/* кнопки з іконками */
.iconBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
  background: none;
  padding: 0;
}

.iconBtn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.iconBtn img {
  width: 24px;
  height: 24px;
}
