.ActiveSection {
  background: #c4d3ff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: "Montserrat", sans-serif;
  @media (min-width: 786px) {
    min-width: 738px;
    padding: 0 24px;
  }
  @media (min-width: 1296px) {
    max-width: 1296px;
    padding: 0 72px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #15004c;
  margin-bottom: 24px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  @media (min-width: 786px) {
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  @media (min-width: 1296px) {
    margin-bottom: 56px;
  }
}

.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @media (min-width: 786px) {
    flex: none;
    width: 160px;
  }
  @media (min-width: 1296px) {
    width: 275px;
  }
}

.statValue {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #090e0f;
  margin-bottom: 9px;
  @media (min-width: 786px) {
    font-size: 38px;
  }
  @media (min-width: 1296px) {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 20px;
  }
}

.statLabel {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #090e0f;
  font-family: "Open Sans", sans-serif;
  @media (min-width: 786px) {
    font-size: 16px;
  }
  @media (min-width: 1296px) {
    font-size: 24px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media (min-width: 786px) {
    gap: 25px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  @media (min-width: 1296px) {
    justify-content: space-between;
    gap: 12px;
  }
}

.photo {
  border-radius: 7px;
  object-fit: cover; /* щоб картинка не спотворювалась */
  @media (min-width: 786px) {
    width: 166px;
    height: 314px;
  }
  @media (min-width: 1296px) {
    width: 308px;
    height: 540px;
  }
}
