.wrapper {
  position: relative;
  display: inline-block;
}

.button {
  background-color: transparent;
  color: #6c6c6c;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #c5d3ff;
  border: 1px solid #cfd8e3;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.option {
  /* padding: 8px 16px; */
  font-size: 16px;
  font-weight: 600;
  color: #15004c;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.option:hover {
  background-color: #e7edff;
}
