.HowWeWorkSection {
  font-family: "Montserrat", sans-serif;
  background-color: #beceff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 786px) {
    min-width: 738px;
    padding: 0 24px;
    gap: 40px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
}
@media (min-width: 786px) {
  .content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  margin: 0;
  padding-left: 20px;
}

.text_bold {
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  font-weight: 700;
  font-size: 24px;
}

/* Перше фото — завжди видно */
.foto_main {
  display: block;
}

/* Друге фото — приховане на мобільному */
.foto_tabletOnly {
  display: none;
}

/* 📱 Мобільні розміри для обох фото */
.foto_main img,
.foto_tabletOnly img {
  width: 343px;
  height: 428px;
  border-radius: 16px;
  object-fit: cover;
}

/* На планшеті — показуємо друге фото + змінюємо розміри */
@media (min-width: 786px) {
  .foto_tabletOnly {
    display: block;
  }

  .foto_main img,
  .foto_tabletOnly img {
    width: 385px;
    height: 411px;
    border-radius: 16px;
    object-fit: cover;
  }
}
