.HowWeWorkSection {
  font-family: "Montserrat", sans-serif;
  background-color: #beceff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  margin: 0;
  padding-left: 20px;
}

.text_bold {
  font-size: 16px;
  line-height: 1.75;
  color: #090e0f;
  font-weight: 700;
  font-size: 24px;
}
