.footer {
  background-color: #15004c;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
  @media (min-width: 786px) {
    min-width: 738px;
    padding: 0 24px;
  }
}

.left_all {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.left {
  display: flex;
  gap: 16px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  letter-spacing: -0.02em;
  color: #e5f9ff;
  font-family: "Open Sans", sans-serif;
}

/* Планшет — 2 колонки по 3 пункти */
@media (min-width: 786px) {
  .nav {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
    column-gap: 24px; /* відстань між колонками */
    row-gap: 8px; /* відстань між рядками */
  }
}

.navItem a {
  color: #e5f9ff;
  text-decoration: none;
}

.description {
  display: none;
}

/* права частина */
.right_all {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 16px;
}

@media (min-width: 786px) {
  .left_all {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* опускає навігацію вниз */
    height: 100%; /* щоб блок розтягнувся */
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 16px;
  margin-top: 106px;
  @media (min-width: 786px) {
    margin-top: 24px;
  }
}

.right a {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #e5f9ff;
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}
