.footer {
  background-color: #15004c;
  padding: 24px 0px;
}

/* 📱 Мобільний */
.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
}

.left_all {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.left {
  display: flex;
  gap: 16px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 2;
  letter-spacing: -0.02em;
  color: #e5f9ff;
  font-family: "Open Sans", sans-serif;
}

.navItem a {
  color: #e5f9ff;
  text-decoration: none;
}

.description {
  display: none;
}

.right_all {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 16px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 8px;
  justify-content: space-between;
  margin-top: 106px;
}

.right a {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #e5f9ff;
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}

/* 📲 Планшет (від 786px) */
@media (min-width: 786px) {
  .container {
    min-width: 738px;
    padding: 0 24px;
  }

  .nav {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
    column-gap: 24px;
    row-gap: 8px;
  }

  .left_all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .right {
    margin-top: 24px;
  }
}

/* 💻 Десктоп (від 1296px) */
@media (min-width: 1296px) {
  .container {
    max-width: 1296px;
    padding: 0 72px; /* 🔥 Головне: робимо вертикальний flex, щоб .right можна було опустити вниз */
    display: flex;
    flex-direction: row;
    gap: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #e5f9ff;
  }
  .left_all {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav {
    grid-template-columns: repeat(6, auto);
    column-gap: 26px;
    margin-right: 20px;
  }

  .right {
    display: flex;
    flex-direction: row; /* в рядок */
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 26px;
  }

  .right_all {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 36px;
  }

  .socials {
    padding: 0;
    gap: 26px;
  }
}
