.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logoContainer {
  padding: 12px 0px;
  background-color: transparent;
}
