.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logoContainer {
  padding: 12px 0px;
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 834px) {
  .logoContainer {
    padding: 24px 0px;
  }
}
