.SupportCallSection {
  background-color: #c4d3ff;
  padding: 24px 0px;
}

.container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 0 16px;
  gap: 24px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #15004c;
}

.text {
  font-weight: 600;
  font-size: 16px;
  color: #15104f;
  font-family: "Open Sans", sans-serif;
}

.bigButton {
  align-self: center;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #090e0f;
}
